@use 'variables' as *;

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 10rem;
    padding: 0 0.5rem;
    font-size: 1.4rem;
    color: $dark-gray;
    background-color: $white;

    a:visited,
    a:active {
        font-size: 1.4rem;
        color: $han-blue;
        font-weight: 500;
    }
}
