@use 'variables' as *;

.header {
    background: url('../starter-files/images/pattern-bg.png');
    background-position: center;
    background-size: cover;
    height: 25rem;
    padding-top: 3rem;
    text-align: center;

    &__intro {
        color: $white;
        text-transform: capitalize;
        margin-bottom: 2rem;
    }

    &__form {
        display: flex;
        align-items: center;
        max-width: 50rem;
        width: 95%;
        margin: 0 auto;
        border-radius: 1rem;
        overflow: hidden;
        background-color: $white;

        .input-box {
            flex: 1;

            input {
                width: 100%;
                padding: 1.4rem 0.5rem;
                font-size: 1.9rem;
                outline: 0;

                &::placeholder {
                    font-family: inherit;
                    font-size: 1.7rem;
                }

                &:focus {
                    border: 4px solid $han-blue;
                    border-top-left-radius: 1rem;
                    border-bottom-left-radius: 1rem;
                }
            }
        }

        button {
            background-color: $very-dark-gray;
            align-self: stretch;
            width: 5rem;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover {
                background-color: $light-dark-gray;
            }
        }
    }
}

.prev-text {
    color: $very-dark-gray;
    display: none;
}

.show-prev-text {
    display: block;
    padding: 0 0.5rem;
}
