*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

.app {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background: url("../starter-files/images/pattern-bg.png");
  background-position: center;
  background-size: cover;
  height: 25rem;
  padding-top: 3rem;
  text-align: center;
}
.header__intro {
  color: #fffefe;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.header__form {
  display: flex;
  align-items: center;
  max-width: 50rem;
  width: 95%;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fffefe;
}
.header__form .input-box {
  flex: 1;
}
.header__form .input-box input {
  width: 100%;
  padding: 1.4rem 0.5rem;
  font-size: 1.9rem;
  outline: 0;
}
.header__form .input-box input::placeholder {
  font-family: inherit;
  font-size: 1.7rem;
}
.header__form .input-box input:focus {
  border: 4px solid #5874dbb0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.header__form button {
  background-color: #2b2b2b;
  align-self: stretch;
  width: 5rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.header__form button:hover {
  background-color: #333333;
}

.prev-text {
  color: #2b2b2b;
  display: none;
}

.show-prev-text {
  display: block;
  padding: 0 0.5rem;
}

.tracker {
  display: flex;
  max-width: 95rem;
  width: 90%;
  min-height: 10rem;
  position: absolute;
  top: 19rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fffefe;
  border-radius: 1rem;
  padding: 2.5rem;
  z-index: 999;
  -webkit-box-shadow: 2px 10px 34px -1px rgba(0, 0, 0, 0.33);
  box-shadow: 2px 10px 34px -1px rgba(0, 0, 0, 0.33);
}
.tracker__content {
  flex: 1;
}
.tracker__content:last-child {
  padding-left: 1rem;
}
.tracker__content .title {
  font-size: 1.2rem;
  color: #969696;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.tracker__content .info {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #2b2b2b;
}
.tracker .border {
  border-right: 1px solid #e7e7e7f8;
  border-left: 1px solid #e7e7e7f8;
  padding-left: 1rem;
}
@media screen and (max-width: 690px) {
  .tracker {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
  .tracker__content {
    width: 100%;
  }
  .tracker__content .info {
    font-size: 1.9rem;
  }
  .tracker .border {
    border-right: none;
    border-left: none;
    padding-left: 0;
  }
}

.map {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  padding: 0 0.5rem;
  font-size: 1.4rem;
  color: #969696;
  background-color: #fffefe;
}
.footer a:visited,
.footer a:active {
  font-size: 1.4rem;
  color: #5874dbb0;
  font-weight: 500;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spinner__circle {
  width: 8rem;
  height: 8rem;
  border-top: 8px solid #fffefe;
  border-radius: 50%;
  animation: loader 1.4s infinite linear;
}
.spinner__message {
  font-size: 1.9rem;
  font-weight: 700;
  color: #fffefe;
  margin-top: 2rem;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
